<html>
  <head>
    <title>FlaskでWebSocket</title>
  </head>
  <body>
    <div id="chat">
      <label id="status"></label>
      <p>接続者数: <span id="user_count">--</span>人</p>
      <textarea id="text">initialized.</textarea>
    </div>

    <script type="module" charset="utf-8">
      import { io } from "/static/socket.io.esm.min.js";

      const socket = io();

      // 接続された
      socket.on("connect", () => {
        document.querySelector('label#status').textContent = `socket connected?: ${socket.connected}`;
      });

      // 接続者数の更新
      socket.on("count_update", function (msg) {
        document.querySelector('span#user_count').textContent = msg.user_count;
      });

      // テキストエリアの更新
      socket.on("text_update", function (msg) {
        console.log(msg, document.querySelector('textarea#text').value);
        document.querySelector('textarea#text').value = msg.text;
      });

      // テキストエリアが変更されると呼び出される
      document.querySelector('textarea#text').addEventListener('input', function(e) {
        socket.emit("text_update_request", { text: e.target.value });
      });


    </script>
  </body>
</html>
