<html>
  <head>
    <title>FlaskでWebSocket</title>
  </head>
  <body>
    <p>現在の接続者数<span id="user_count"></span>人</p>
    <textarea id="text" name="text" rows="10" cols="60"></textarea>

    <div id="app">{{ message }}</div>

    <script type="module" charset="utf-8">
      import { io } from '/static/socket.io.esm.min.js';
      import { createApp } from '/static/vue.esm-browser.js';

      createApp({
        data() {
          return {
            message: 'Hello Vue!'
          }
        }
      }).mount('#app')

      const socket = io();

      // 接続者数の更新
      socket.on('count_update', function(msg) {
        $('#user_count').html(msg.user_count);
      });

      // テキストエリアの更新
      socket.on('text_update', function(msg) {
        $('#text').val(msg.text);
      });

      // テキストエリアが変更されると呼び出される
      $('#text').on('change keyup input', function() {
        socket.emit('text_update_request', {text: $(this).val()});
      });
    </script>

  </body>
</html>